<div class="code-block">
	<div class="code-header"><span class="code-lang">bash</span><button class="copy-btn" onclick="copyCode(this, '{{ code }}')">Copy</button></div>
	<pre><code><span class="c-prompt">$</span> {{ code }}</code></pre>
</div>
